@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Open+Sans&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
    background-color: #F2F2F2;
}

#header {
    position: relative;
}

#header {
    margin: 0 auto;
    background-color: #742227;
    color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 2em;
}

#logo {
    font-weight: 500;
    color: #ffffff;
    background-color: #ff0000;
    width: 100%;
    padding: 5px;
}

.ticket-view {
    background-color: #742227;
    color: #ffffff;
    box-shadow: none;
    padding: 7px;
    margin: 10px;
}

#tickets-button {
    border-color: #742227;
    color: #4F5051;
    background-color: white;
    height: 35px;
    width: 175px;
    margin: 5px;
}

#tickets-button:hover{
    color: white;
    background-color: #742227;
}

#logoImage {
    display: inline-block;
    margin-top: 8px;
    margin-right:5px;
    height: 30px;
    width: auto;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(83deg) brightness(108%) contrast(101%);
}

/* TOAST */

.toast {
    position: fixed;
    bottom: 50;
    right: 0;
    transform: translateY(100%);
    opacity: 0;
    transition:
    opacity 500ms,
    transform 500ms;
}

.toast.visible {
    transform: translateY(0);
    opacity: 1;
}

.toast-body {
    margin: 28px;
    padding: 20px 24px;
    background-color: rgb(140, 206, 247);
    color: rgb(1, 1, 160);
    border-radius: 4px;
}

.table-info {
    font-weight: 600;
}